<% include ../partials/header %>

<div id="et-main-area" class="pt-100">
    <div id="main-content">
        <article id="post-209034" class="post-209034 page type-page status-publish hentry">
            <div class="entry-content">
                <div id="et-boc" class="et-boc">
                    <div class="et_builder_inner_content et_pb_gutters3">
                        <div class="et_pb_section et_pb_section_1 et_section_specialty">
                            <div class="et_pb_row">
                                <div id="item-large" class="et_pb_column et_pb_column_1_3 et_pb_column_3    et_pb_css_mix_blend_mode_passthrough">
                                    <div class="et_pb_module et_pb_blurb et_pb_blurb_5 et_animated et_pb_bg_layout_light  et_pb_text_align_center  et_pb_blurb_position_top">
                                        <div class="et_pb_blurb_content">
                                            <% if (alert.length > 0) { %>
                                            <div class="et_pb_newsletter_result et_pb_newsletter_error show text-center mb-1 fs-18">
                                                <%= alert %>
                                            </div>
                                            <% } %>
                                            <div class="et_pb_main_blurb_image"><span class="et_pb_image_wrap"><img src="<%= results[0][0].imageurl %>" alt="" class="et-waypoint et_pb_animation_top item-image-large" /></span></div>
                                            <div class="et_pb_blurb_container">
                                                <h4 class="et_pb_module_header"><%= results[0][0].username %></h4>
                                                <div class="et_pb_blurb_description">
                                                    <div id="item-other-wide">
                                                        <!--<p><strong><a class="brown" href="/topics/<%= results[0][0].id %>"><span id="postscount"><%= results[2][0].postscount %></span> Posts</a></strong></p>-->
                                                        <!--<p class="pb-1"><strong><a class="brown" href="/topics/<%= results[0][0].id %>/followers"><span id="followerscount"><%= results[3][0].followerscount %></span> Followers</a></strong></p>-->

                                                        <p><strong><a class="brown" href="/users/<%= results[0][0].id %>"><span id="postscount"><%= results[2][0].postscount %></span> Posts</a></strong></p>
                                                        <p><strong><a class="brown" href="/users/<%= results[0][0].id %>/following"><%= results[3][0].followingcount %> Following</a></strong></p>
                                                        <p><strong><a class="brown" href="/users/<%= results[0][0].id %>/comments"><%= results[4][0].commentscount %> Comments</a></strong></p>
                                                        <p class="pb-1"><strong><a class="brown" href="/users/<%= results[0][0].id %>/likes"><%= results[5][0].likescount %> Likes</a></strong></p>
                                                    </div>
                                                    <p>Joined <%= moment(results[0][0].datecreated).format('LLL') %></p>
                                                    <p><%= results[0][0].description %></p>

                                                    <% if (req.user === undefined) { %>
                                                    <% } else if (req.user.id !== results[0][0].id) { %>
                                                    <% } else { %>
                                                    <div class="et_pb_button_module_wrapper et_pb_button_0_wrapper et_pb_button_alignment_ et_pb_module textaligncenter flexcenter">
                                                        <a class="et_pb_button et_pb_custom_button_icon et_pb_button_0 et_animated et_hover_enabled et_pb_bg_layout_light pdlr-1 fs-12 mr-1" href="/users/<%= results[0][0].id %>/edit">Edit</a>
                                                        <form action="/users/<%= results[0][0].id %>?_method=DELETE" method="post">
                                                            <button type="submit" class="et_pb_button et_pb_custom_button_icon et_pb_button_0 et_animated et_hover_enabled et_pb_bg_layout_light pdlr-1 fs-12">Delete</button>
                                                        </form>
                                                    </div>
                                                    <% } %>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!--<div class="et_pb_button_module_wrapper et_pb_button_2_wrapper et_pb_button_alignment_center et_pb_module ">-->
                                    <!--<a class="et_pb_button et_pb_custom_button_icon et_pb_button_2 et_animated et_hover_enabled et_pb_bg_layout_light" href="#" data-icon="&#x45;">Full Profile</a>-->
                                    <!--</div>-->
                                </div>

                                <div id="list" class="et_pb_column et_pb_column_2_3 et_pb_column_2   et_pb_specialty_column  et_pb_css_mix_blend_mode_passthrough">
                                    <div id="container" class="et_pb_column et_pb_column_4_4 et_pb_column_inner et_pb_column_inner_0   et-last-child">
                                        <% for(var i=0; i < results[1].length; i++) { %>
                                        <div class="et_pb_module et_pb_blurb et_pb_blurb_0 et_animated et_pb_bg_layout_light  et_pb_text_align_left  et_pb_blurb_position_left container-item">
                                            <div class="et_pb_blurb_content">
                                                <!--<div class="et_pb_main_blurb_image"><a href="#"><span class="et_pb_image_wrap"><img src="https://www.elegantthemes.com/layouts/wp-content/uploads/2017/12/coding-icon_4.jpg" alt="" class="et-waypoint et_pb_animation_top" /></span></a></div>-->
                                                <div class="et_pb_blurb_container">
                                                    <h4 class="et_pb_module_header">
                                                        <% if (results[1][i].posttype === 1) { %>
                                                        <a href="/posts/<%= results[1][i].id %>"><%= results[1][i].name %></a>
                                                        <% } else { %>
                                                        <a href="/posts/<%= results[1][i].id %>">/posts/<%= results[1][i].id %></a>
                                                        <% } %>
                                                    </h4>
                                                    <div class="et_pb_blurb_description">
                                                        <% if (results[1][i].posttype === 1) { %>
                                                        <p><%= results[1][i].description %></p>
                                                        <% } else if (results[1][i].posttype === 2) { %>
                                                        <img src="<%= results[1][i].imageurl %>">
                                                        <% } else { %>
                                                        <video controls controlsList="nodownload" webkitallowfullscreen mozallowfullscreen allowfullscreen>
                                                            <source src="<%= results[1][i].videourl %>" type="video/mp4">
                                                        </video>
                                                        <% } %>
                                                        <p><strong><%= moment(results[1][i].datecreated).format('LLL') %></strong></p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <% } %>
                                    </div>
                                    <div id="loadMore">
                                    </div>
                                </div>

                            </div>
                        </div> </div>
                </div> </div>
        </article>
    </div>

    <script src="/javascripts/userloadmoreposts.js"></script>


    <% include ../partials/footer %>



