<% include ../partials/header %>

<div id="et-main-area" class="pt-100">
    <div id="main-content">
        <article id="post-209034" class="post-209034 page type-page status-publish hentry">
            <div class="entry-content">
                <div id="et-boc" class="et-boc">
                    <div class="et_builder_inner_content et_pb_gutters3">
                        <div class="et_pb_section et_pb_section_1 et_section_specialty">
                            <div class="et_pb_row">
                                <div id="item-large" class="et_pb_column et_pb_column_1_3 et_pb_column_3    et_pb_css_mix_blend_mode_passthrough">


                                    <div class="et_pb_module et_pb_blurb et_pb_blurb_0 et_animated et_pb_bg_layout_light  et_pb_text_align_left  et_pb_blurb_position_left container-item">
                                        <div class="et_pb_blurb_content">
                                            <!--<div class="et_pb_main_blurb_image"><a href="#"><span class="et_pb_image_wrap"><img src="https://www.elegantthemes.com/layouts/wp-content/uploads/2017/12/coding-icon_4.jpg" alt="" class="et-waypoint et_pb_animation_top" /></span></a></div>-->
                                            <div class="et_pb_blurb_container">
                                                <h4 class="et_pb_module_header">
                                                    <% if (results[0][0].posttype === 1) { %>
                                                    <a href="/posts/<%= results[0][0].id %>"><%= results[0][0].name %></a>
                                                    <% } else { %>
                                                    <a href="/posts/<%= results[0][0].id %>">/posts/<%= results[0][0].id %></a>
                                                    <% } %>
                                                </h4>
                                                <div class="et_pb_blurb_description">
                                                    <% if (results[0][0].posttype === 1) { %>
                                                    <p><%= results[0][0].description %></p>
                                                    <% } else if (results[0][0].posttype === 2) { %>
                                                    <img src="<%= results[0][0].imageurl %>">
                                                    <% } else { %>
                                                    <video controls controlsList="nodownload" webkitallowfullscreen mozallowfullscreen allowfullscreen>
                                                        <source src="<%= results[0][0].videourl %>" type="video/mp4">
                                                    </video>
                                                    <% } %>
                                                    <div class="flex mt-15">
                                                        <div class="pr-15">
                                                            <a href="/users/<%= results[0][0].userid %>"><img src="<%= results[0][0].userimageurl %>" alt="" class="et-waypoint et_pb_animation_top item-image" /></a>
                                                        </div>
                                                        <div>
                                                            <div><a class="hd" href="/users/<%= results[0][0].userid %>"><%= results[0][0].username %></a></div>
                                                            <div><a href="/topics/<%= results[0][0].topicid %>"><%= results[0][0].topicname %></a></div>
                                                            <div><%= moment(results[0][0].datecreated).format('LLL') %></div>

                                                        </div>
                                                    </div>
                                                    <div id="item-other-paddingnone" class="mt-15">
                                                        <p class="mr-15"><span class="brown"><span id="commentscount"><%= results[2][0].commentscount %></span> Comments</span></p>
                                                        <p class="mr-15"><span class="brown"><span id="likescount"><%= results[3][0].likescount %></span> Likes</span></p>
                                                        <% if (req.isAuthenticated()) { %>
                                                        <p class="mr-15"><button id="likeunlike" class="brown fs-100p bd-none pd-0">
                                                                    <% if (result[0].status === 0) { %>
                                                                    Like
                                                                    <% } else { %>
                                                                    Liked
                                                                    <% } %>
                                                                </button></p>
                                                        <% } %>
                                                        <% if (req.user === undefined) { %>
                                                        <% } else if (req.user.id !== results[0][0].userid) { %>
                                                        <% } else { %>
                                                        <% if (results[0][0].posttype === 1) { %>
                                                        <p class="pb-1 mr-15"><a class="brown" href="/posts/<%= results[0][0].id %>/edit">Edit</a></p>
                                                        <% } %>
                                                        <form action="/posts/<%= results[0][0].id %>?_method=DELETE" method="post">
                                                            <button type="submit" class="brown fs-100p bd-none pd-0">Delete</button>
                                                        </form>
                                                        <% } %>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>

                                <% if (req.isAuthenticated()) { %>
                                <div id="item-large" class="et_pb_column et_pb_column_1_3 et_pb_column_3    et_pb_css_mix_blend_mode_passthrough">
                                    <div class="et_pb_module et_pb_blurb et_pb_blurb_5 et_animated et_pb_bg_layout_light  et_pb_text_align_center  et_pb_blurb_position_top">
                                    <form class="contact100-form validate-form" action="/comments" method="post" id="commentform">

                                        <div id="emptyerror" class="et_pb_newsletter_result et_pb_newsletter_error show text-center mb-1 fs-18 red hidden commentformerrors">
                                            Empty description
                                        </div>
                                        <div id="lengtherror" class="et_pb_newsletter_result et_pb_newsletter_error show text-center mb-1 fs-18 red hidden commentformerrors">
                                            Description must be between 5-300 characters.
                                        </div>
                                        <!--<div class="wrap-input100 validate-input" data-validate="Name is required">-->
                                            <!--<input class="input100" type="text" name="name" placeholder="Full Name">-->
                                            <!--<span class="focus-input100-1"></span>-->
                                            <!--<span class="focus-input100-2"></span>-->
                                        <!--</div>-->

                                        <!--<div class="wrap-input100 validate-input" data-validate = "Valid email is required: ex@abc.xyz">-->
                                            <!--<input class="input100" type="text" name="email" placeholder="Email">-->
                                            <!--<span class="focus-input100-1"></span>-->
                                            <!--<span class="focus-input100-2"></span>-->
                                        <!--</div>-->

                                        <div class="wrap-input100 validate-input" data-validate = "Message is required">
                                            <textarea id="commentformtextarea" class="input100" placeholder="Description" name="description" required></textarea>
                                            <span class="focus-input100-1"></span>
                                            <span class="focus-input100-2"></span>
                                        </div>
                                        <button id="explore" class="et_pb_button et_pb_custom_button_icon et_pb_button_0 et_animated et_hover_enabled et_pb_bg_layout_light pdlr-1 fs-12 floatr" data-icon="&#x45;" type="submit">Comment</button>


                                        <!--<div class="contact100-form-checkbox">-->
                                            <!--<input class="input-checkbox100" id="ckb1" type="checkbox" name="copy-mail">-->
                                            <!--<label class="label-checkbox100" for="ckb1">-->
                                                <!--Send copy to my-email-->
                                            <!--</label>-->
                                        <!--</div>-->

                                        <!--<div class="container-contact100-form-btn">-->
                                            <!--<button class="contact100-form-btn">-->
                                                <!--Send Email-->
                                            <!--</button>-->
                                        <!--</div>-->
                                    </form>
                                    </div>
                                </div>

                                <% } %>

                                <div id="list" class="et_pb_column et_pb_column_2_3 et_pb_column_2   et_pb_specialty_column  et_pb_css_mix_blend_mode_passthrough">
                                    <div id="container" class="et_pb_column et_pb_column_4_4 et_pb_column_inner et_pb_column_inner_0   et-last-child">
                                        <% for(var i=0; i < results[1].length; i++) { %>
                                        <!--<div class="flex mt-15">-->
                                            <!--<div class="pr-15">-->
                                                <!--<a href="/users/<%= results[1][i].userid %>"><img src="<%= results[1][i].imageurl %>" alt="" class="et-waypoint et_pb_animation_top item-image" /></a>-->
                                            <!--</div>-->
                                            <!--<div>-->
                                                <!--<div><a class="hd" href="/users/<%= results[1][i].userid %>"><%= results[1][i].username %></a></div>-->
                                                <!--<div><a href="/comments/<%= results[1][i].id %>"><%= results[1][i].description %></a></div>-->
                                                <!--<div><%= moment(results[1][i].datecreated).format('LLL') %></div>-->

                                            <!--</div>-->
                                        <!--</div>-->


                                        <div class="et_pb_module et_pb_blurb et_pb_blurb_0 et_animated et_pb_bg_layout_light  et_pb_text_align_left  et_pb_blurb_position_left container-item">
                                            <div class="et_pb_blurb_content">
                                                <!--<div class="et_pb_main_blurb_image"><a href="#"><span class="et_pb_image_wrap"><img src="https://www.elegantthemes.com/layouts/wp-content/uploads/2017/12/coding-icon_4.jpg" alt="" class="et-waypoint et_pb_animation_top" /></span></a></div>-->
                                                <div class="et_pb_main_blurb_image pl-15"><a href="/users/<%= results[1][i].userid %>"><span class="et_pb_image_wrap"><img src="<%= results[1][i].imageurl %>" alt="" class="et-waypoint et_pb_animation_top item-image" /></span></a></div>

                                                <div class="et_pb_blurb_container">
                                                    <!--<h4 class="et_pb_module_header">-->
                                                        <a class="hd" href="/users/<%= results[1][i].userid %>"><%= results[1][i].username %></a>
                                                    <!--</h4>-->
                                                    <div class="et_pb_blurb_description">
                                                        <a class="brown" href="/comments/<%= results[1][i].id %>"><%= results[1][i].description %></a>
                                                        <p><%= moment(results[1][i].datecreated).format('LLL') %></p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <% } %>
                                    </div>
                                    <div id="loadMore">
                                    </div>
                                </div>

                            </div>
                        </div> </div>
                </div> </div>
        </article>
    </div>


    <script src="/javascripts/postloadmorecomments.js"></script>


    <% if (req.isAuthenticated()) { %>
    <script src="/javascripts/postcreatecomment.js"></script>
    <script src="/javascripts/postlikeunlike.js"></script>

    <% } %>


    <% include ../partials/footer %>



